/* CSS Document */
html,body{
	padding:o;
	margin:0;
}
div#container{
	padding:5px;	
}
table tbody th{
	font-weight:normal;	
}
.modal-body{
	padding:20px 20px 0 20px;	
}
.modal-footer{
	margin-top:0;	
}
span.need{
	color:red;	
}
h1.top-title{
	font-size:100px;	
}
div.divisions{
	border-radius:4px;
	border:1px solid #999;
	margin-top:15px;	
	padding: 0 5px;
}
div.divisions .alert{
	margin-top:10px;
}
label{
	font-weight:normal;	
}
label input[type=radio]{
	position:relative;
	bottom:-3px;	
}
span.notification-counter{
	background: red;
	color: white;
	border-radius: 4px;
	display: inline-block;
	padding: 0 3px;
	font-weight: 800;	
}
ul.dropdown-notif li{
	margin: 0 0 2px 0;	
}
ul.dropdown-notif li a{
	border-radius:2px;
	margin:0 2px;
}
ul.dropdown-notif li.notif-unread a{
	background:#ECECEC;
}
ul.dropdown-notif li a:hover{
	background:#428BCA;	
	color:white;
}
ul.no-list-type li{
	list-style-type:none;
}
ul.bordered{
	margin:0;	
	padding:0;
}
ul.bordered li{
	border:1px solid #CCCCCC;
	margin:2px 0;
	padding:3px;	
}
ul.bordered li a:hover{
	text-decoration:none;
}
ul.bordered li span{
	color:black;
	display:block;
}
@media only screen 
and (max-width : 600px) {
	.btn-solo{
		width:100%;	
		display:block;
		margin:3px 0;
	}
	span.diaryFlag{
		display:block;
		float:left;
	}
	table thead{
		display:none;	
	}
	table tbody tr{
		display:table;
		width:100%;
	}
	table tbody th{
		background:#e9e9e9;	
	}
	table tbody th,
	table tbody td{
		display:table-row;
		width:100%;
	}
}
